doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap")
    title My Diploma Project

  body
    header
      .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-lightd-flex.p-0.mt-5
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
              li.nav-item.dropdown.d-flex.align-items-center
                span.nav-text Для мужчин
                a#navbarDropdown.nav-link.dropdown-toggle(
                  href='#', role='button', data-toggle='dropdown', 
                  aria-haspopup='true', aria-expanded='false')
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="#") Рубашки
                  a.dropdown-item(href="#") Брюки
                  a.dropdown-item(href="#") Ботинки
              li.nav-item.dropdown.d-flex.align-items-center
                span.nav-text Для женщин 
                a#navbarDropdown.nav-link.dropdown-toggle(
                  href='#', role='button', data-toggle='dropdown', 
                  aria-haspopup='true', aria-expanded='false'
                  ) 
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="#") Платья
                  a.dropdown-item(href="#") Блузки
                  a.dropdown-item(href="#") Брюки
              li.nav-item.dropdown.d-flex.align-items-center
                span.nav-text Для детей
                a#navbarDropdown.nav-link.dropdown-toggle.mr-5(
                  href='#', role='button', data-toggle='dropdown', 
                  aria-haspopup='true', aria-expanded='false'
                  )
                .dropdown-menu(aria-labelledby="navbarDropdown")
                  a.dropdown-item(href="#") Футболкти
                  a.dropdown-item(href="#") Свитшоты
                  a.dropdown-item(href="#") Кепки
              li.nav-item.dropdown.d-flex
                a.navbar-brand(href="#")
                  img(src="imeges/Frame.png" width="40" height="40" alt="Frame" loading="logo") 
                  span.brand-name the loop
              li.nav-item
                a.nav-link(href="#") Оплата
              li.nav-item
                a.nav-link(href="#") Доставка
              .shopping
                img(src="imeges/Group.svg", alt="Shopping")
              .quantity
                img(src="imeges/Group6.svg", alt="quantity")

        div#carouselExampleCaptions(class="carousel slide" data-ride="carousel")
          ol.carousel-indicators
            li.text-secondary(data-target="#carouselExampleCaptions" data-slide-to="0" class="active")
            li.text-secondary(data-target="#carouselExampleCaptions" data-slide-to="1")
            li(data-target="#carouselExampleCaptions" data-slide-to="2")
          .carousel-inner
            .carousel-item.active.d-flex.justify-content-between
              .first-screen_text
                h2 Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-first-scr
                  span.button-name СМОТРЕТЬ МОДЕЛИ
              img(src="imeges/running_shoes_PNG5823.png" class="d-block w-50" alt="Running shoes")
              .carousel-caption.d-none.d-md-block
                h5 9 900 ₽
                p 1 900 ₽
            .carousel-item.d-flex.justify-content-between
              .first-screen_text
                h2 Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-first-scr
                  span.button-name СМОТРЕТЬ МОДЕЛИ
              img(src="imeges/running_shoes_PNG5823.png" class="d-block w-50" alt="Running shoes")
              .carousel-caption.d-none.d-md-block
                h5 9 900 ₽
                p 1 900 ₽
            .carousel-item.d-flex.justify-content-between
              .first-screen_text
                h2 Зимняя распродажа
                h1 СКИДКИ ДО 90%
                button.btn.btn-first-scr
                  span.button-name СМОТРЕТЬ МОДЕЛИ
              img(src="imeges/running_shoes_PNG5823.png" class="d-block w-50" alt="Running shoes")
              .carousel-caption.d-none.d-md-block
                h5 9 900 ₽
                p 1 900 ₽               

    main
      section.free-shiping
        .container
          p.shiping-text1 <b>БЕСПЛАТНАЯ ДОСТАВКА</b> ОТ 3000₽
          p.shiping-text2 Сделайте заказ и получите подарок!

      section.catalog
        .row
          .col.pr-0.pl-0.catalog-man
            .wrapper-catalog-man.d-flex
              .catalog-man-text.d-flex.flex-column
                p.catalog-text <b>МУЖСКАЯ</b> КОЛЛЕКЦИЯ
                p.catalog-text-foot Обувь, полуверы, костюмы
                button.btn.btn-catalog
                  img.btn-arrow(src="imeges/Arrow.svg", alt="Arrow")
              img.photo-man(src="imeges/Rectangle3.png", alt="Rectangle 3")
          .col.pr-0.pl-0.catalog-woman
            .wrapper-catalog-woman.d-flex
              .catalog-woman-text.d-flex.flex-column
                p.catalog-text <b>ЖЕНСКАЯ</b> КОЛЛЕКЦИЯ
                p.catalog-text-foot Обувь, полуверы, костюмы
                button.btn.btn-catalog 
                  img.btn-arrow(src="imeges/Arrow.svg", alt="Arrow")
              img(src="imeges/Rectangle 3.1.png", alt="Rectangle 3.1")
        .container
          .row.m-0
            .col.p-0
              .card.card1.rounded-0.border-0
                img(src="imeges/Rectangle.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ
            .col.p-0
              .card.card2.rounded-0.border-0
                img(src="imeges/Rectangle1.1.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ            
            .col.p-0
              .card.card1.rounded-0.border-0
                img(src="imeges/Rectangle.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ            
            .col.p-0
              .card.card2.rounded-0.border-0
                img(src="imeges/Rectangle1.1.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ   
          .row.m-0
            .col.p-0
              .card.card2.rounded-0.border-0
                img(src="imeges/Rectangle1.1.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ                 
            .col.p-0
              .card.card1.rounded-0.border-0
                img(src="imeges/Rectangle.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ
            .col.p-0
              .card.card2.rounded-0.border-0
                img(src="imeges/Rectangle1.1.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ               
            .col.p-0
              .card.card1.rounded-0.border-0
                img(src="imeges/Rectangle.png" class="card-img" alt="Rectangle")
                .card-img-overlay   
                  h5.card-title ПЛАТЬЯ

      section.new-item
        .container
          h2.text-new Новые модели
          .row.row-new-card
            .col.col-new
              .card.new-card.border-0
                .new-card-flex.d-flex.justify-content-between
                  .line-left
                  .line-right
                  .line-bt-left
                  .line-bt-right
                img(src="imeges/Rectangle 2.png" class="card-img-top" alt="...")
                div.card-body
                  h3.card-text Коктейльное <br> платье
                  p.card-rext-p ₽ 40 000
            .col.col-new
              .card.new-card.border-0
                .new-card-flex.d-flex.justify-content-between
                  .line-left
                  .line-right
                  .line-bt-left
                  .line-bt-right
                img(src="imeges/Rectangle 2.png" class="card-img-top" alt="...")
                div.card-body
                  h3.card-text Коктейльное <br> платье
                  p.card-rext-p ₽ 40 000
            .col.col-new
              .card.new-card.border-0
                .new-card-flex.d-flex.justify-content-between
                  .line-left
                  .line-right
                  .line-bt-left
                  .line-bt-right
                img(src="imeges/Rectangle 2.png" class="card-img-top" alt="...")
                div.card-body
                  h3.card-text Коктейльное <br> платье
                  p.card-rext-p ₽ 40 000
            .col.col-new
              .card.new-card.border-0
                .new-card-flex.d-flex.justify-content-between
                  .line-left
                  .line-right
                  .line-bt-left
                  .line-bt-right
                img(src="imeges/Rectangle 2.png" class="card-img-top" alt="...")
                div.card-body
                  h3.card-text Коктейльное <br> платье
                  p.card-rext-p ₽ 40 000
          button.btn.btn-new-card.rounded-0.px-4 
            span.button-name.mr-2 ВСЕ МОДЕЛИ
            img.btn-arrow(src="imeges/Arrow.svg", alt="Arrow")

      section.present
        container
          .present-wrapper.d-flex.justify-content-center.py-5 
            h2.present-text ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ 
            form.rounded-0
              .form-group
                input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ваш e-mail")
            button.btn-form.rounded-0
              span.button-name ПОДПИСАТЬСЯ
          
              




    



    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')